*{
    box-sizing: border-box;
}

/*
    ==============================================================================
    Clearfix
    ==============================================================================
*/



.group:before,
.groupe:after{
    content: "";
    display: table;
}
.group:after{
    clear: both;
    *zoom: 1;

}
.group{
    clear: both
}

body {
	max-width: 80em;
	 margin: 0 auto;
	 font-family: sans-serif;
	 padding-right: 5%;
	 padding-left: 5%;
}

footer p {
  text-align: center;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.box {
	font-size: 1.2em;
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;



}

.row{
	display: flex;
	flex-flow: row-reverse;
	align-items: stretch;
	flex-wrap: nowrap;
	
}
.row > div {  
    flex: 1;  
}

.col{

	display: flex;
	flex-flow: column-reverse;
		

}