/*Litir og myndir í bakgrunni vefsíðu

CSS*/

*{
    box-sizing: border-box;
}

/*
    ==============================================================================
    Clearfix
    ==============================================================================
*/



.group:before,
.groupe:after{
    content: "";
    display: table;
}
.group:after{
    clear: both;
    *zoom: 1;

}
.group{
    clear: both
}

.contaner{
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	max-width: 80em;
	 margin: 0 auto;
	 font-family: sans-serif;

}

body {
    background-color: #6ff;
    background-image:url(flott-logo.svg);
    background-repeat: no-repeat;     /* repeat-x eða repeat-y */
    background-position: 200px 300px; /* föst staðsetning frá vinstra horni efst */
    background-position: center middle;
    /* X lárétt: left, center, right. Y lóðrétt: top, middle, bottom */
    background-attachment: fixed; /* scroll */	
}
body {			
	background: rgb(255, 255, 255) url(image.jpg) 0px -5px scroll no-repeat;
            /*  litur,   mynd,  staðsetning X-Y,  fixed,  repeat -x -y */
    background: linear-gradient(to bottom, #1b2df5 0%, #000000 100%);
    color: white;
}

.main{
    background: linear-gradient(to bottom, gold -50%, #ffffff 300%);

}

nav, header, main, footer, body{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding:  5%;
}



main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: black;

}
.main2{
   background-color: darkblue;
}


blockquote{
    background-color: rgba(255, 246, 192, 0.5);
    margin: 1em;
    padding: 1em;
}

.verkefni{
    float: right;
    margin-bottom: 2em;
}

.topnav{
    display: flex;
    float: right;

}

.padd{
    padding: 1em;
}

.hlutur1{
    display: flex block;

    justify-content: center;
}

.title{
    display: inline;
}

.innermenu{
    position: sticky ;
    display: flex inline;
    top: 0;
    display: flex;
    justify-content: center;
    margin: none;
    padding: none;
    
}
.innermenu > div{
    margin: 0.1em;
    padding: 0.6em;
    font-size: 0.8em;
    gap: 2px;
    background-color: dodgerblue;

}


footer{
    color: rgb(182, 182, 182);
    font-size: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.toptakki{
    position: fixed;
    bottom: 2.26em;
    right: 2.53em;
    font-size: 20px;
    color: white;
}
.toptakki > a{
    z-index: 9999999999;
}



  
  .hringur {
    width: 50px;
    height: 50px;
    background: dodgerblue;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 2em;
    right: 2em;
  }

a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: rgb(255, 0, 0);
}
a:active{
    color: white;
}

ul {
    list-style-type: decimal;
}

@media only screen and (max-width:37.5em){
    footer{
        grid-template-columns: 1fr;
        font-size: 15px;
    }
    .innermenu{
        position: sticky ;
        display: flex block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0;
        font-size: 0.9em;
    }
    .innermenu > div{
        margin: 0em;
        padding: 0.6em;
        font-size: 0.8em;
        gap: 0px;
        background-color: dodgerblue;
        max-height: 6em;

    }
    .contaner{
        padding-left: 0;
        padding-right: 0;

    }
    body{
        max-width: 100em;
    }
}
@media only screen and (max-width:48em){
    footer{
        grid-template-columns: 1fr;
        font-size: 15px;
    }
    .innermenu{
        position: static ;
        display: flex inline;
        top: 0;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    .innermenu > div{
        margin: 0.1em;
        padding: 0.6em;
        font-size: 0.8em;
        gap: 0px;
        background-color: dodgerblue;
    
    }
    .contaner{
        padding-left: 0;
        padding-right: 0;
    }
    
}

